.cover__subtitle {
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    max-width: 360px;
    margin: 32px auto 0;
    z-index: 1;
}
@media all and (max-width: 425px){
    .cover__subtitle{
        margin: 16px auto 0;
        font-size: 14px;
        line-height: 114%;
    }
}