.lead__title {
    align-self: center;
    color: #FFFFFF;
    Font-size: 96px;
    font-weight: 900;
    line-height: 104%;
    max-width: 720px;
    text-align: center;
    margin: 0 0 32px 0; 
}
@media all and (max-width: 425px){
    .lead__title{
        max-width: 288px;
        margin: 0 0 16px 0;
        font-size: 40px;
        line-height: 110%;
    }
}