.lead__caption {
    color: #FFFFFF;
    max-width: 158px;
    margin-top: 8px;
    line-height: 140%;
    font-size: 10px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 0;
}
@media all and (max-width: 768px){
    .lead__caption{
        margin-left: 24px;
    }
}
@media all and (max-width: 425px){
    .lead__caption{
        margin-left: 16px;
    }
}